openapi: 3.0.0
info:
  version: '1.0'
  title: REST API
  contact:
    name: Wil Ascension
    email: vlados.stelme@mail.ru
servers:
  - url: 'https://music.9andex.ru/'
    description: Live Server
tags:
  - name: Раздел
    description: Описание раздела в несколько строк
security:
  - SecretApiKey: []
  - JWT: []
paths:
  /chart:
    get:
      summary: Чарт
      tags:
        - Плейлист
      description: Запрос на получение чарта музыки в России
      responses:
        '200':
          description: OK
          content:
            applications/json:
              schema:
                properties:
                  chart:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        artist:
                          type: string
                          example: Bon Jovi
                        name:
                          type: string
                          example: Its my life
        '400':
          description: Bad request
          content:
            applications/json:
              schema:
                properties:
                  errors:
                    type: object
                    properties:
                      error:
                        type: string
                        example: Вери бэд реквест
  /non-music:
    get:
      summary: Подкасты
      description: Запрос на получение подкастов
      tags:
        - Плейлист
      responses:
        '200':
          description: OK
          content:
            applications/json:
              schema:
                properties:
                  topical:
                    type: array
                    description: Список акутальных подкастов
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Вопрос учёному
                  Chart:
                    type: array
                    description: Чарт подкастов
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: В предыдущих сериях
                  Yandex Podcast:
                    type: array
                    description: Подкасты Яндекса
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Войти в IT
  '/artist/{id}':
    get:
      summary: Исполнитель
      description: Запрос на получение исполнителя и его треков
      tags:
        - Artist
      parameters:
        - name: id
          in: path
          description: Artist ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  Artist:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int64
                      name:
                        type: string
                    required:
                      - id
                      - name
                  PlayList:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        artist:
                          type: string
                          example: Bon Jovi
                        name:
                          type: string
                          example: Its my life
  /addartist:
    parameters:
      - $ref: '#/components/parameters/organizationId'
    post:
      summary: Добавить исполнителя
      description: Добавление нового исполнителя
      tags:
        - Artist
      security:
        - bearerAuth: []
      operationId: addArtist
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
              example:
                id: 10
                name: Jessica Smith
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  artistID:
                    type: string
                    example: 3443123
  /auth:
    post:
      summary: JWT токен
      description: Выдаёт токен пользавтелю для осуществления операций
      tags:
        - Auth
      security: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  example: stelmistery@yandex.ru
                password:
                  type: string
                  example: 123qwerty123
      responses:
        '200':
          headers:
            Api-Token:
              $ref: '#/components/headers/Api-Token'
          description: OK
          content:
            applications/json:
              schema:
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '422':
          description: Ошибка авторизации
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: object
                    properties:
                      email:
                        type: array
                        items:
                          type: string
                          example: Не указан Email
                      password:
                        type: array
                        items:
                          type: string
                          example: Не указан пароль
    x-components:
      headers:
        Api-Token: &ref_1
          schema:
            type: string
            example: 9f34dd3a-ff8d-43aa-b286-9f22555319f6
      schemas:
        User: &ref_0
          type: object
          properties:
            id:
              type: string
              example: 41
            name:
              type: string
              example: Владосик Владосик
            email:
              type: string
              example: Владосик@маил.ру
  /register:
    post:
      summary: Регистрация пользователя
      description: Регестрирует пользователя в системе
      tags:
        - Auth
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: stelmistery@yandex.ru
                password:
                  type: string
                  example: 123qwerty123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Vladosik
                      email:
                        type: string
                        example: Vladosik@mail.ru
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ResourceId:
      type: string
      description: Токен
      maxLength: 50
      example: 4f6cf35x-2c4y-483z-a0a9-158621f77a21
    User: *ref_0
  parameters:
    organizationId:
      name: User token
      in: header
      description: Токен пользователя на чьих правах добавляется сполнитель
      schema:
        $ref: '#/components/schemas/ResourceId'
      required: false
  headers:
    Api-Token: *ref_1
